# 💸 Solpagos

# Variables de Entorno de Ejemplo (.env.example)

# Base de Datos Serverless (Neon PostgreSQL)
# En producción o desarrollo con BD real, configura la cadena de conexión de Neon:
DATABASE_URL=postgres://usuario:password@ep-cool-name.us-east-2.aws.neon.tech/neondb?sslmode=require

# Configuración de la Red de Solana (Devnet por defecto)
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
